<h3>User</h3>

<ul>
    <li>id: <?php echo $user->id;?></li>
    <li>name: <?php echo $user->name;?></li>
    <li>email: <?php echo $user->email;?></li>
    <li>username: <?php echo $user->username;?></li>
    <li>created: <?php echo $user->created;?></li>
    <li>modified: <?php echo $user->modified;?></li>
</ul>

<a href="/users/">Back</a>